@using System.IO;
@using Blazor.FileReader
@using System;
@using System.Diagnostics;

@inject IFileReaderService fileReader
@inject HttpClient  client

<h1>Libreria EPPlus</h1>

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <MatFileUpload OnChange="@FilesReadyForContentEpplus"></MatFileUpload>
            <ul>
                <li>File Name: @fileName</li>
                <li>Size: @size</li>
                <li>Type: @type</li>
            </ul>
        </div>
        @if (!string.IsNullOrWhiteSpace(message))
        {
            <div class="alert alert-success">
                File has been uploaded
            </div>
        }
    </div>
    <div class="col-4">
        @if (imagePath != null)
        {
            <img style="width:550px" src="@imagePath" />
        }
    </div>
</div>

@functions
{
    ElementReference inputReference;
    string message = string.Empty;
    string imagePath = null;

    string fileName = string.Empty;
    string type = string.Empty;
    string size = string.Empty;
    string fileContent;

    Stream fileStream = null;

    async Task FilesReadyForContentEpplus(IMatFileUploadEntry[] files)
    {
        try
        {
            var content = new MultipartFormDataContent();
            content.Headers.ContentDisposition = new System.Net.Http.Headers.ContentDispositionHeaderValue("form-data");
            var file = files.FirstOrDefault();
            if (file == null)
            {
                return;
            }

            using (var stream = new MemoryStream())
            {
                var sw = Stopwatch.StartNew();
                await file.WriteToStreamAsync(stream);
                sw.Stop();

                fileStream = new MemoryStream(stream.ToArray());

                fileName = file.Name;
                size = $"{file.Size}b";
                type = file.Type;

                content.Add(new StreamContent(fileStream, (int)fileStream.Length), "excel", fileName);

                string url = "https://localhost:44345";

                var response = await client.PostAsync($"{url}/api/ExcelEPPlus", content);

                if (response.IsSuccessStatusCode)
                {
                    var uploadedFileName = await response.Content.ReadAsStringAsync();
                    imagePath = $"{url}/{uploadedFileName}";
                    message = "File has been uploaded successfully!";
                }
            }
        }
        catch (Exception e)
        {
            fileContent = $"Error:\r\n{e.Message}\r\n{e.StackTrace}";
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }
}